.c3{

}
.c3-wrapper{
 background-image: url(../../images/c3-bg.jpg);
 background-size: contain;
 background-repeat: no-repeat;
 height: 129.8rem;
 padding-top: 53.2rem;
 padding-left: 3.3rem;
 padding-right: 3.3rem;
 margin-top: 6rem;
}
.c3-title{
font-family: var(--font-family);
font-weight: 500;
font-size: 2rem;
line-height: 110%;
text-transform: uppercase;
text-align: center;
color: #8c9db1;
}
.c3-wrap{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3.7rem;
}
.c3-item{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
.c3-item p{
font-family: var(--font-family);
font-weight: 400;
font-size: 1.5rem;
line-height: 120%;
color: #000;
}