.c4{
 background: linear-gradient(#BAD0E0 0%, #8C9DB1 100%);
 padding-top: 0rem;
 margin-top: 8rem;
    border-radius: 4rem;
    padding-bottom: 5.4rem;
}
.program-list{
   
        display: flex;
    flex-direction: column;
   align-items: center;
   padding-top: 3.5rem;
    overflow: hidden;
       gap: 1rem;
       max-height: 159rem;
}
.collapse{
    max-height: 1000rem;
}
.program-list ul{


}
.program-list li{
    width: 37rem;
    height: fit-content;
    padding: 1.8rem 2rem 3.3rem 2rem;
    background: #fff;
    border:  1px solid #ddd;
    border-radius: 2rem;;
}
.program-list li img{
    box-shadow: 0 15px 100px 0 rgba(0, 0, 0, 0.05);
    width: 33rem;
}
.c4-lesson{
    background-image: url(../../images/c4-les-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 15.1rem;
    height: 4.4rem;
    border-radius: 15rem;
    font-family: var(--font-family);
font-weight: 500;
font-size: 1.6rem;
line-height: 125%;
text-transform: uppercase;
text-align: center;
color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
    margin-left: 0.9rem;
}
.c4-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c4-mins{
font-family: var(--font-family);
font-weight: 400;
font-size: 1.3rem;
line-height: 154%;
text-transform: uppercase;
text-align: center;
color: #b6b6b6;
display: flex;
gap: 0.2rem;
margin-right: 0.9rem;
}
.program-list li h2{
    font-family: var(--font-family);
font-weight: 500;
font-size: 1.8rem;
line-height: 111%;
color: #8c9db1;
padding-left: 1.9rem;
}
.program-list li p{
font-family: var(--font-family);
font-weight: 400;
font-size: 1.5rem;
line-height: 120%;
color: #000;
margin-top: 2rem;
padding-left: 1.9rem;
}
.program-btn-text{
    font-family: var(--font-family);
font-weight: 500;
font-size: 1.6rem;
line-height: 125%;
letter-spacing: 0.1em;
text-transform: uppercase;
text-align: center;
color: #fff;
margin-top: 4.3rem;
}
.program-btn-img{
    width: 7.4rem;
height: 7.4rem;
background-image: url(../../images/program-btn.png);
background-size: contain;
background-repeat: no-repeat;
position: absolute;
left: 50%;
transform: translate(-50%);
margin-top: 1.6rem;
}
.btncol{
    transform: rotate(180deg) translate(50%);
}
