.c6{
    background-image: url(../../images/c6-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 49.5rem;
    border-radius: 4rem;
    padding-top: 4rem;
    margin-top: 8rem;
}
.c6-undertitle{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.5rem;
line-height: 120%;
text-transform: uppercase;
text-align: center;
color: #fff;
margin-top: 2.3rem;
margin-bottom: 2.5rem;
}
.c6-price-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
}
.c6-price-new{
font-family: var(--second-family);
font-weight: 400;
font-size: 10.5rem;
line-height: 62%;
text-transform: uppercase;
text-align: center;
color: #fff2af;
}
.c6-price-old{
font-family: var(--second-family);
font-weight: 400;
font-size: 7rem;
line-height: 26%;
text-transform: uppercase;
text-align: center;
color: #ffcebd;
position: relative;
}
.c6-price-old::before{
    content: "";
    width: 10rem;
    height: 0rem;
    position: absolute;
    border: 1px solid #ffcebd;
    top: 64%;
}
.c6-timer-name{
font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 129%;
text-transform: uppercase;
text-align: center;
color: #6c623c;
}
.c6-num{
    font-family: var(--font-family);
font-weight: 200;
font-size: 5.5rem;
line-height: 100%;
text-transform: uppercase;
text-align: center;
color: #6c623c;
}
.c6-timer-col{
    border-radius: 1.5rem;
width: 11.5rem;
height: 11.5rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: #fff;
}
.c6-timer{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 4.5rem;
}
.c6-under-timer{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.5rem;
line-height: 113%;
text-align: center;
color: #fff;
margin-top: 2.3rem;
}
.guarantee{
    width: 37.9rem;
    height: 12.5rem;
    background-image: url(../../images/guarantee-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.5rem;
line-height: 113%;
color: #6c623c;
padding: 2.7rem 0 0 9.9rem;
margin-top: 3rem;
}