.c2 {
padding-top: 2rem;
background-image: url(../../images/c2-bg.jpg);
background-size: cover;
background-repeat: no-repeat;
padding-bottom: 4.4rem;
}
.c2-present{
    width: 37rem;
    height: 16.1rem;
    background-image: url(../../images/c2-present.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 2.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    justify-content: center;
    margin-bottom: 10rem;
}
.c2-present span{
font-family: var(--font-family);
font-weight: 500;
font-size: 2rem;
line-height: 100%;
color: #fff2af;
}
.c2-present p{
font-family: var(--font-family);
font-weight: 400;
font-size: 1.5rem;
line-height: 107%;
color: #fff;
}
.c2-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 6rem;
}
.c2-item{
    display: flex;
    align-items: center;
    gap: 2.1rem;
}
.c2-item p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.5rem;
line-height: 120%;
color: #000;
}